@layer components {
    .modal-title{
        @apply text-lg leading-6 font-semibold text-gray-900;
    }

    .modal-body{
        @apply mt-2 text-sm leading-5 text-gray-600;
    }

    .modal-close-icon{
        @apply text-gray-400 p-1 flex items-center justify-center leading-normal rounded-full text-primay-50 hover:text-gray-500;
    }

    .modal-padding{
        @apply px-4 py-5;
    }
}
